div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    /* left: 100px; */
    /* animation-name: colorAnimate;
    animation-duration : 3s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: colorAnimate 2s ease-in 0s infinite reverse;
}

/* @keyframes colorAnimate {
    from {
        background-color: aquamarine;
        left: 0px;
    }
    to {
        background-color: red;
        left: 200px;
        color: white}
} */

@keyframes colorAnimate {
    0% {
        background-color: aquamarine;
        left: 0px;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
        left: 200px;
        color: white}
}